* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.logo-nav {
    width: 100px;
    transition: transform 0.3s ease-in-out;
}

.logo-nav:hover {
    transform: scale(1.1);
}

img:hover {
    opacity: 0.9;
    cursor: pointer;
}

.icon-button {
    background: none;
    border: none;
    padding: 0;
    font-size: 25px;
    color: #333;
    transition: color 0.3s ease;
}

.icon-button:hover {
    color: #007bff;
}

/* dark-mode */
body.dark-mode .signin_btn {
    color: #fff;
}


body.dark-mode .icon-button {
    color: #fff;
}

body.dark-mode .item {
    color: #0a0a0a;
}

body.dark-mode .icon-button:hover {
    color: #4da3ff;
}

.header .btn {
    width: 80px;
    height: 36px;
    line-height: 30px;
    border-radius: 10px;
}

.navbar {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.btn-outline-success {
    color: white;
    border-color: #007bff;
    background-color: #0d6efd;
}

.btn-outline-success:hover {
    opacity: 0.8;
    background-color: #0d6efd;
}

.header {
    margin-top: 100px;
}

h1 {
    font-size: 4rem;
    font-weight: 700;
}

.header_baner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Navigation */
.nav-link {
    font-size: 2rem;
}

.navbar-nav {
    display: flex;
    gap: 1rem;
    list-style: none;
}

.navbar-nav .nav-item {
    display: flex;
    place-content: center;
    margin: 0;
    align-items: center;
}

.nav-item svg {
    width: 30px;
    height: 30px;
}

.nav-item i {
    font-size: 26px;
}

.navbar-nav .nav-link {
    color: #777676;
    font-weight: 200;
    position: relative;
    padding-bottom: 0.25rem;
    font-size: 2rem;
}

.navbar-nav .nav-link::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background: #777676;
    border-radius: 5px;
    transform: scale(0);
    transition: all 0.6s ease;
    bottom: 0;
    left: 0;
}

.navbar-nav .nav-link:hover::before {
    transform: scale(1);
}

#navbarNav {
    flex-grow: unset;
    height: 75px;
}
#login,
#logout{
    font-size: 1.5rem;
    height: 30px;
    width: 75px;
}

body.dark-mode {
    background-color: #333;
    color: #fff;
}

body.dark-mode .navbar {
    background-color: #222 !important;
}

#newMobile,
#best-selling,
#tablet,
#Advertisement,
#Review,
#Member {
    margin-top: 120px;
    margin-bottom: 50px;
}

.search_nav {
    width: 300px;
}

/* Images slide */
#bannerCarousel {
    position: relative;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    overflow: hidden;
}

.carousel-inner {
    display: flex;
    transition: transform 0.5s ease;
}

.carousel-item {
    min-width: 100%;
}

.carousel-item img {
    width: 100%;
    height: 390px;
}

.carousel-control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
    text-decoration: none;
}

.carousel-control-prev {
    left: 10px;
}

.carousel-control-next {
    right: 10px;
}

.item {
    transition: transform 0.3s ease;
}

.container .item:hover {
    transform: scale(1.1);
}

.listCart .item .remove {
    color: red;
    cursor: pointer;
}

h3 {
    margin-top: 10px;
    font-size: 2rem;
    font-weight: 300;
}

p {
    font-size: 1.5rem;
    font-weight: 300;
}
.searchResults p:first-of-type {
    width: 100%;
}

.icon-user img {
    height: 40px;
    width: 40px;
    align-content: center;
    text-align: center;
    border-radius: 50%;
    background-color: #555;
    margin-left: 17px;
}
.icon-user img:hover {
    transform: unset;
}

.btn_header {
    margin-right: auto;
    margin-top: 10px;
    width: 80px;
    font-size: 10px;
    height: 40px;
}

.review_desc {
    font-size: 1.9rem;
}

.review_btn {
    margin-right: auto;
    font-size: 1.3rem;
}

.review_btn button {
    border-radius: 20px;
    height: 38px;
    width: 100px;
    font-size: 12px;
}

.cate_desc {
    margin-top: 20px;
}

.grid-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: 100px;
    /* dien vao nhung cho trong */
    grid-auto-flow: dense;
    gap: 10px;
}

.grid-wrapper div img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.tall {
    /* tinh tu cho no dung */
    grid-row: span 2;
}

.wide {
    grid-column: span 2;
}

.big {
    grid-row: span 2;
    grid-column: span 2;
}

.logo-nav {
    height: 40px;
    transition: transform 0.3s ease-in-out;
}

.logo-nav:hover {
    transform: scale(1.1);
}

.logo {
    height: 200px;
    width: 200px;
    font-weight: bold;
    color: #007bff;
}

.landing_desc {
    font-size: 2rem;
}

.list-unstyled {
    font-size: 1.2rem;
}

.footer_btn {
    width: 80px;
}

footer {
    font-size: 0.9rem;
    color: #6c757d;
}

body {
    margin: 0;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}


svg {
    width: 25px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.icon-cart {
    position: relative;
    cursor: pointer;
    margin-left: 30px;
}

.icon-cart span {
    position: absolute;
    background-color: red;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #fff;
    top: 50%;
    right: -12px;
    display: none;
    user-select: none;
}

.icon-cart span.visible {
    display: flex;
    /* Hiển thị span khi có lớp 'visible' */
}

.buttons button {
    text-align: center;
    font-size: 12px;
    color: #fff;
    width: 100px;
    padding: 10px;
    border: 0;
    outline: none;
    cursor: pointer;
    margin-top: 5px;
    border-radius: 20px;
}


.item .row {
    display: flex;
    justify-content: space-between;
}

/* Hiệu ứng khi nhấp vào nút Add To Cart */
.item button {
    position: relative;
    overflow: hidden;
    transition: background-color 0.3s;
    max-width: 40%;
    height: 38px;
    font-weight: bolder;
}

.addCart:hover {
    background-color: #e0a800 !important;
    /* Màu hơi tối hơn khi hover */
}

.addCart {
    margin-right: 15px;
}

.buyNow {
    margin-left: 15px;
}

.buyNow:hover {
    background-color: #0b5ed7 !important;
}

/* Hiệu ứng gợn sóng */
.item button::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 5px;
    height: 5px;
    background: rgba(255, 255, 255, 0.5);
    opacity: 0;
    border-radius: 100%;
    transform: scale(1, 1) translate(-50%);
    transform-origin: 50% 50%;
}

@keyframes ripple {
    0% {
        transform: scale(0, 0);
        opacity: 1;
    }

    20% {
        transform: scale(25, 25);
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: scale(40, 40);
    }
}

.item button:focus:not(:active)::after {
    animation: ripple 1s ease-out;
}

/* Hiệu ứng bump cho số lượng giỏ hàng */
.icon-cart span.animate {
    animation: bump 0.5s ease-out;
}

@keyframes bump {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

.title {
    font-size: xx-large;
}

.listProduct .item img {
    width: 90%;
    filter: drop-shadow(0 25px 20px #0009);
}

.listProduct {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}


.listProduct .item {
    background-color: #f6f6f6;
    padding: 20px;
    border-radius: 20px;
    margin-bottom: 10px;
}

.listProduct .item h2 {
    margin-top: 30px;
    font-weight: 500;
    font-size: large;
}

.listProduct .item .price {
    letter-spacing: 2px;
    font-size: 1.5rem;
    margin-top: 5px;
    color: #007bff;
}

.listProduct .item .detail {
    font-size: 1.5rem;
}

.listProduct .item button {
    background-color: #353432;
    color: #eee;
    border: none;
    padding: 5px 10px;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 20px;
}
.searchResults button{
    font-size: 10px;
    max-width: 40%;
}

.product .item img {
    width: 90%;
    filter: drop-shadow(0 25px 20px #0009);
}

.product {
    display: grid;
    grid-template-columns: repeat(2, 0.5fr);
    gap: 40px;
}

.listAllProduct {
    display: grid;
    grid-template-columns: repeat(5, 0.5fr);
    gap: 20px;
}

.product .item {
    background-color: #f6f6f6;
    padding: 20px;
    border-radius: 20px;
}

.product .item h2 {
    margin-top: 30px;
    font-weight: 500;
    font-size: large;
}

.product .item .price {
    letter-spacing: 2px;
    font-size: 1.5rem;
    margin-top: 5px;
    margin-bottom: 5px;
    color: #007bff;
}

.product .item .detail {
    font-size: 1.5rem;
}

.product .item button {
    background-color: #353432;
    color: #eee;
    border: none;
    padding: 5px 10px;
    margin-top: 50px;
    border-radius: 20px;
}


/* cart */
.cartTab {
    width: 400px;
    padding-top: 65px;
    background-color: #353432;
    color: #eee;
    position: fixed;
    top: 0;
    right: -400px;
    bottom: 0;
    display: grid;
    grid-template-rows: 70px 1fr 30px 70px;
    transition: .5s;
    z-index: 1000;
    box-shadow: -2px 0 5px rgba(0,0,0,0.2);
}

body.showCart .cartTab {
    right: 0;
}

.cartTab h1 {
    padding: 20px;
    margin: 0;
    font-weight: 300;
    font-weight: bold;
}

.cartTab .btn {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    font-size: 15px;
}

.cartTab button {
    background-color: #E8BC0E;
    border: none;
    font-family: Poppins;
    font-weight: 800;
    cursor: pointer;
}

.cartTab .close {
    background-color: #eee;
}

.cartTotal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-top: 1px solid #dee2e6;
    font-weight: bold;
}

.totalText {
    font-size: 18px;
}

.totalAmount {
    font-size: 20px;
    color: #28a745;
}

.listCart .item img {
    width: 100%;
}

.listCart .item {
    display: grid;
    grid-template-columns: 70px 150px 50px 1fr 30px;
    gap: 3px;
    text-align: center;
    align-items: center;
    margin-top: 5px;
}

.listCart .quantity span {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: #eee;
    border-radius: 50%;
    color: #555;
    cursor: pointer;
    user-select: none;
}

.listCart .quantity span:nth-child(2) {
    background-color: transparent;
    color: #eee;
    cursor: auto;
}

.listCart .item:nth-child(even) {
    background-color: #eee1;
}

#cartForm {
    display: grid;
    grid-template-rows: 1fr 0px;
    overflow: auto;
}

.listCart::-webkit-scrollbar {
    width: 0;
}

.search-icon {
    position: relative;
    width: 500px;
}
.search-icon input {
    font-size: 1.5rem;
    height: 40px;
    border-radius: 5px
}

.search_nav {
    width: 100%;
    padding: 10px 40px 10px 15px;
    font-size: 1.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.search-icon svg {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    color: #666;
    cursor: pointer;
}

.filter-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
    gap: 30px;
}
.filter-container label {
    margin-bottom: 5px;
    font-size: 20px;
    font-weight: 800;
}
.filter-container button,
.filter-container .brand-container label,
.filter-container .price-container label,
.filter-container .ram-container label{
    width: 100%;
    font-size: 14px;
    border: 1px solid #ccc;
    background-color: #f2f4f7;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
    cursor: pointer;
    margin-bottom: 5px;
    font-weight: lighter;
    height: 33px;
}

.filter-container button:hover,
.filter-container label:hover{
    border-color: #007bff;
}

.filter-dropdown {
    position: relative;
    display: inline-block;
    margin-bottom: 10px;
}

.filter-dropdown .content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 600px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.filter-dropdown .content {
    display: block;
}
.brand-checkbox,
.price-checkbox,
.ram-checkbox {
    display: none;
}

.brand-checkbox:checked + label,
.price-checkbox:checked + label,
.ram-checkbox:checked + label {
    border: 2px solid;
    border-color: #007bff;
}

.filter-container img{
    width: 100%;
    margin-bottom: 3px;
}
.filter-container .row>* {
    padding-right: 0;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}

.product-card {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

.product-card img {
    max-width: 100%;
    height: auto;
}
.brand-container button{
    background-color: #f2f4f7;
    border-radius: 5px;
}

.brand-container div,
.price-container div {
    margin-bottom: 5px;
}

.hpagination {
    display: flex;
    align-items: center;
    justify-content: center;
}

.hpagination a {
    padding: 10px 15px;
    margin: 0 5px;
    text-decoration: none;
    color: #007bff;
    border: 1px solid #007bff;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
    font-size: 12px;
}

.hpagination a:hover {
    background-color: #007bff;
    color: #fff;
}

.hpagination .disabled {
    color: #565656;
    pointer-events: none;
}

.hpagination strong {
    background-color: #007bff;
    color: #fff;
    border: 1px solid #007bff;
    padding: 10px 15px;
    border-radius: 4px;
    margin: 0 5px;
    font-weight: bold;
    margin: 0 5px;
    font-weight: bold;
    font-size: 13px;
}

@media only screen and (max-width: 992px) {
    .listProduct {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media only screen and (max-width: 768px) {
    .listProduct {
        grid-template-columns: repeat(2, 1fr);
    }
}
